.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
.DS_Store
Thumbs.db
